.user-voting {
  margin-bottom: 20px;
}

.user-voting .ant-checkbox-wrapper {
  margin-right: 16px;
}

.additional-question {
  margin-top: 10px;
}

.additional-question .ant-select {
  width: 100%;
}
