@use 'src/shared/assets/scss/variables' as *;

.user-voting {
  margin-top: 24px;
  margin-bottom: 24px;
  background-color: $sider-background-color;
  border-radius: 4px;
  padding: 1px 12px 12px 12px;

  .voting-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;

    .delegate-tag {
      margin-left: auto;
      font-size: 12px;
      padding: 2px 8px;
      border-radius: 12px;
    }
  }

  .question {
    font-size: 16px;
    font-weight: 500;
    color: #333;
    margin-bottom: 16px;
  }

  .ant-checkbox-wrapper {
    margin-right: 16px;
  }
}

.additional-question {
  margin-top: 12px;
}

.additional-question .ant-select {
  width: 100%;
}
