@use 'sass:color';
@use 'src/shared/assets/scss/variables' as *;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button-style($bg-color, $text-color) {
  background-color: $bg-color;
  color: $text-color;
  border: none;
  border-radius: $border-radius;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color $transition-speed;

  &:hover {
    background-color: color.mix(black, $bg-color, 10%);
    //background-color: $accent-yellow;
  }

  &:disabled {
    background-color: color.mix(black, $border-color, 40%);
  }

}