@use 'sass:color';
@use 'src/shared/assets/scss/variables' as *;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button-style($bg-color, $text-color) {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background-color: $bg-color;
  color: $text-color;
  border: none;
  border-radius: $border-radius;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color $transition-speed;

  &:hover {
    background-color: color.mix(black, $bg-color, 10%);
    //background-color: $accent-yellow;
  }

  &:disabled {
    background-color: color.mix(black, $border-color, 40%);
    color: color.mix(white, $text-color, 70%);
    cursor: not-allowed;
  }

  &:not(:hover) {
    &:not(:disabled) {
      &:active {
        background-color: color.mix(black, $bg-color, 10%);
      }
    }
  }

  &:hover:not(:disabled) {
    background-color: $accent-yellow !important;
    color: $bg-color !important;
    outline: none;

    .anticon {
      color: $bg-color !important;
    }
  }

  // 5. Убираем фокус-стили если не нужны
  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba($accent-yellow, 0.5);
  }

}
