@use 'sass:color';
@use 'src/shared/assets/scss/variables' as *;
//@use 'src/shared/assets/scss/antd/antd-custom' as *;
@use 'src/shared/assets/scss/mixins' as *;
@use 'src/shared/assets/scss/ui/header' as *;
@use 'src/shared/assets/scss/ui/toolbar' as *;
@use 'src/shared/assets/scss/ui/content' as *;
@use 'src/shared/assets/scss/ui/community_workspace' as *;
@use 'src/shared/assets/scss/components/sider' as *;
@use 'src/shared/assets/scss/components/select' as *;
@use 'src/shared/assets/scss/ui/ai/button' as *;

body {
  font-family: $font-family;
  background-color: $secondary-color;
  color: $text-color;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

textarea {
  font-family: inherit;
}

a {
  text-decoration: none;
  color: $primary-color;

  &:hover {
    color: color.mix(black, $primary-color, 10%);
  }
}

button {
  @include button-variant-primary;
}

.auth-space {
  @include flex-center;
  flex-direction: column;
  background-color: $secondary-color;
  height: 100vh;
}
