// Цвета
$primary-color: #CC0000;
$secondary-color: #F9F9F9;
$text-color: #333333;
$heading-color: #000000;
$border-color: #E0E0E0;
$background-color: #FFFFFF;
$sider-background-color: #F3F1EF;
$accent-yellow: #FFD700;
// Статусы
$status-pending-bg: #FFF3CD;
$status-pending-text: #856404;
$status-approved-bg: #D1ECF1;
$status-approved-text: #0C5460;
$status-active-bg: #D4EDDA;
$status-active-text: #155724;
$status-inactive-bg: #F8D7DA;
$status-inactive-text: #721C24;

// Размеры и радиусы
$header-height: 64px;
$footer-height: 64px;
$border-radius: 8px;
$transition-speed: 0.3s;


// Шрифт
$font-family: 'Noto Sans', sans-serif;

// Адаптивные точки
$breakpoint-lg: 1200px;
$breakpoint-md: 992px;
$breakpoint-sm: 768px;
$breakpoint-xs: 576px;
