@use 'src/shared/assets/scss/variables' as *;

.content {
  display: flex;
  flex: 1;

  p {
    font-size: 16px;
    color: $text-color
  }

  .page-header {
    font-size: 20px;
    font-weight: bold;
    color: $heading-color;
    text-align: center;
    margin-bottom: 16px;
  }

  .content-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
  }

  .table-container {
    width: 100%;
    margin: 8px 8px 0 12px;
    padding: 12px;

    .table-header {
      font-size: 20px;
      font-weight: bold;
      color: $text-color;
      text-align: center;
      margin-bottom: 24px;
    }
  }

  .form-container {
    width: 800px;
    margin: 16px auto calc($footer-height + 16px) auto;

    .form-header {
      font-size: 20px;
      font-weight: bold;
      color: $text-color;
      text-align: center;
      margin-bottom: 24px;
    }

  }

  .communities-list {
    max-width: 1246px;
    margin: 20px auto;
  }

  .community-work-space {
    width: 100%;
    margin: 8px 8px 0 12px;
    padding: 12px;

    .section-header {
      font-size: 20px;
      font-weight: bold;
      color: $text-color;
      text-align: center;
      margin-bottom: 16px;
    }

  }

  .community-work-space-with-toolbar {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 8px 8px calc($footer-height + 8px) 12px;
    padding: 12px;

    .section-header {
      font-size: 20px;
      font-weight: bold;
      color: $text-color;
      text-align: center;
      margin-bottom: 16px;
    }

  }

}

// Адаптивные стили
@media (max-width: 1246px) {
  .content {
    padding: 10px;
    .content-container {
      h1 {
        font-size: 28px;
      }

      p {
        font-size: 16px;
      }
    }
  }

  .communities-list {
    margin: 10px;
    .ant-list-item {
      font-size: 14px;
    }
  }
}

//@media (max-width: 1024px) {}

@media (max-width: 768px) {
  .content {
    .content-container {
      h1 {
        font-size: 24px;
      }

      p {
        font-size: 14px;
      }
    }

    .communities-list {
      margin: 5px;
      .ant-list-item {
        font-size: 12px;
      }
    }
  }
}

//@media (max-width: 480px) {}