@use 'src/shared/assets/scss/variables' as *;

.footer {
  height: $footer-height;
  background-color: $secondary-color;
  color: $text-color;
  text-align: center;
  padding: 12px 0;
  font-size: 14px;
  letter-spacing: 0.5px;
  border-top: 1px solid $border-color;
}