@use 'src/shared/assets/scss/variables' as *;

.header {
  height: $header-height;
  border-bottom: 1px solid $border-color;
  border-left: 1px solid $border-color;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 15px 20px;
  margin-left: 24px;

  .logo {
    width: auto;
    cursor: pointer;
    position: absolute;
    margin-left: 21px;
  }

  .avatar {
    border-color: $text-color;
    border-width: 2px;
    background-color: $secondary-color;
    cursor: pointer;
  }

  .icon-text {
    margin-left: -16px;
    margin-right: 8px;
    font-weight: 500;
    cursor: pointer;
  }

  .community-name {
    max-width: 860px;
    font-size: 18px;
    font-weight: bold;
    color: $text-color;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (max-width: $breakpoint-xxl) {
  .header {
    .community-name {
      font-size: 15px;
      max-width: 700px;
    }
  }
}

@media (max-width: 1400px) {
  .header {
    .community-name {
      font-size: 15px;
      max-width: 600px;
    }
  }
}

@media (max-width: 1300px) {
  .header {
    .community-name {
      font-size: 15px;
      max-width: 500px;
    }
  }
}

@media (max-width: $breakpoint-xl) {
  .header {
    .icon-text {
      display: none;
    }

    .community-name {
      font-size: 14px;
      max-width: 500px;
    }
  }
}

@media (max-width: 1100px) {
  .header {
    .community-name {
      font-size: 13px;
      max-width: 400px;
    }
  }
}

@media (max-width: $breakpoint-lg) {
  .header {
    .community-name {
      max-width: 350px;
    }
  }
}

@media (max-width: $breakpoint-md) {
  .header {
    .community-name {
      max-width: 300px;
    }
  }
}

@media (max-width: $breakpoint-sm) {
  .header {
    .community-name {
      font-size: 12px;
    }
  }
}
