@use 'src/shared/assets/scss/variables' as *;

.header {
  height: $header-height;
  border-bottom: 1px solid $border-color;
  border-left: 1px solid $border-color;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 15px 20px;
  margin-left: 24px;

  .logo {
    width: auto;
    cursor: pointer;
    position: absolute;
    margin-left: 21px;
  }

  .avatar {
    border-color: $text-color;
    border-width: 2px;
    background-color: $secondary-color;
    cursor: pointer;
  }

  .icon-text {
    margin-left: -16px;
    margin-right: 8px;
    font-weight: 500;
    cursor: pointer;
  }

  .community-name {
    font-size: 18px;
    font-weight: bold;
    color: $text-color;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

}

// Адаптивные стили
//@media (max-width: 1246px) {
//  .header {}
//}
//
@media (max-width: 1024px) {
  .header {
    .icon-text {
      display: none;
    }
  }
}
//
//@media (max-width: 768px) {
//  .header {}
//}
//
//@media (max-width: 480px) {
//  .header {}
//}