.app {
    display: flex;
    flex-direction: column;
    width: 99.2vw;
    height: 98vh;
}

.header {
    height: 60px;
    background: white;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 4px 20px 4px 12px;
}

.footer {
    height: 40px;
    background: white;
    display: flex;
    justify-content: center;
}

.content {
    margin: 24px 16px;
    padding: 20px;
}

.triger-btn {
    font-size: 16px;
    width: 50px !important;
    height: 50px !important;
    position: fixed;
    bottom: 10px;
    left: 10px;
}

.sider {
    height: 98.3vh;
    position: sticky !important;
    left: 0;
    bottom: 0;
    top: 0;
}

.logo {
    color: black;
    margin: 30px 0;
    font-size: 1.5rem;
}

.menu-bar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 500;
}

/*.ant-menu-submenu {*/
/*    color: black !important;*/
/*}*/

/*.ant-menu-item-icon{*/
/*    color: red !important;*/
/*}*/

/*.ant-menu-submenu-title {*/
/*    !*color: black !important;*!*/
/*    font-size: 16px;*/
/*}*/

/*.ant-menu-submenu-title-content {*/
/*    color: red !important;*/
/*    font-size: 16px;*/
/*}*/

/*.ant-menu-selected {*/
/*    background-color: red !important;*/
/*    color: black !important;*/
/*}*/

/*.ant-menu-submenu-inline {*/
/*    color: black !important;*/
/*}*/

/*.ant-menu-submenu-open {*/
/*    color: red !important;*/
/*}*/

/*.ant-menu-submenu-selected {*/
/*    background-color: red !important;*/
/*    color: black !important;*/
/*}*/

.ant-menu-item-selected {
    background-color: red !important;
    color: black !important;
}