.menu-header {
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    padding: 10px 16px;
    text-align: left;
    word-wrap: break-word;
    white-space: normal;
    line-height: 1.4;
    margin-top: 18px;
}

.menu-header-icon {
    font-size: 24px !important;
    padding-inline: calc(50% - 8px - 4px);
    margin-bottom: 8px;
    margin-top: 18px;
}