@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.app {
  display: flex;
  flex-direction: column;
  width: 99vw;
  height: 98vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.header {
  height: 60px;
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 20px 4px 12px;
}

.footer {
  height: 40px;
  background: white;
  display: inline-flex;
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
}

.communities {
  width: 40vw;
  padding: 30px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.ant-col.ant-form-item-label {
  padding: 0 !important;
}

.icon-text {
  display: inline-flex;
  margin-right: 20px;
  margin-bottom: 10px;
}

@media screen and (max-width: 800px) {
  .icon-text {
    display: none;
  }
}
