@use 'src/shared/assets/scss/variables' as *;

.ant-modal.custom-modal {
  display: flex;
  flex-direction: column;
  width: 60% !important;
  max-width: 60% !important;

  .ant-modal-content {
    display: flex;
    flex-direction: column;
    max-height: 90vh;
  }

  .ant-modal-body {
    flex: 1;
  }

  @media (max-width: $breakpoint-md) {
    width: 80% !important;
  }
  @media (max-width: $breakpoint-xs) {
    width: 95% !important;
  }
}
